---
layout: default
title: Frederik Rudeck - About
page_category: about
---

<div class="page-header">
	<h2>Summary</h2>
</div>

TODO: Objective, summary

<p>My name is Frederik Rudeck and I‘m a master student at the <a href="http://www.hpi.uni-potsdam.de/">Hasso-Plattner-Institute</a> where I study IT-Systems Engineering. In 2007 I finished my Bachelor of Science in IT-Systems Engineering at the Hasso Plattner Institute. During my study I did an internship at <a href="http://www.sap.com/canada/">SAP Canada</a> in Montreal.</p>

<p>I‘m currently writing my master thesis and looking for work as an full time employee or intern. If you think that I can help you feel free to <a href="/contact/">contact me</a> and I can provide you with more detailed information about myself. Visit <a href="http://de.linkedin.com/pub/frederik-rudeck/28/ba8/429">my linkedin profile</a> to see my public résumé.</p>

<p>I‘m mainly working with C, C++ and C# right now but have experience with Python, Ruby, Flex and Javascript as well. Have a look at my <a href="/projects/">recent projects</a> or at my <a href="https://github.com/polym0rph">github page</a> to see what I am doing.<p>

<div class="page-header">
	<h2>Contact</h2>
</div>
<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>Phone</strong>
			</br>
			+49 176 38948410
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>Email</strong>
			</br>
			<a href="mailto:frederik.rudeck@googlemail.com">frederik.rudeck@googlemail.com</a>
			- <a href="http://keyserver.ubuntu.com:11371/pks/lookup?op=get&search=0x69620F5FF254877F">GPG Public Key</a>
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>Networks</strong>
			</br>
			<a href="http://de.linkedin.com/pub/frederik-rudeck/28/ba8/429">LinkedIn</a> - <a href="https://www.xing.com/profile/Frederik_Rudeck">Xing</a> - <a href="https://github.com/polym0rph">Github</a> - <a href="http://www.twitter.com/polym0rph">Twitter</a>
		</div>
	</div>
</p>

<div class="page-header">
	<h2>Education</h2>
</div>
<p>
	<div class="row">
		<div class="span6 offset2">
			<strong>
			Hasso-Plattner-Institute, University of Potsdam, Germany
			</strong>
		</div>
		<div class="span2 text-right">
			2007 - Present
		</div>
	</div>
	<div class="row">
		<div class="span6 offset2">
			M.Sc., IT-Systems Engineering (Expected graduation Dec. 2011)
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			<ul>
				<li>
					Specializations in human computer interactions and mobile &
					embedded systems
				</li>
				<li>
					Thesis: "Rock Paper Sliders: a pixel-wise reconfigurable 
					touch input device based on optical fiber"
				</li>
			</ul>
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span6 offset2">
			<strong>
			Hasso-Plattner-Institute, University of Potsdam, Germany
			</strong>
		</div>
		<div class="span2 text-right">
			2004 - 2007
		</div>
	</div>
	<div class="row">
		<div class="span6 offset2">
			B.Sc., IT-Systems Engineering (GPA: TODO)
		</div>
	</div>
</p>
<div class="page-header">
	<h2>Experience</h2>
</div>
<p>
	<div class="row">
		<div class="span6 offset2">
			<strong>
			Student Research Assistant, Enterprise Platform and Integration 
			Concepts Group at Hasso-Plattner-Institute, University of Potsdam, 
			Germany
			</strong>
		</div>
		<div class="span2 text-right">
			Sep. 2010 - Mar. 2011
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			<ul>
				<li>
					Implemented benchmarks for an in-memory key-value store
				</li>
			</ul>
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span6 offset2">
			<strong>
			Student Research Assistant, Enterprise Platform and Integration 
			Concepts Group at Hasso-Plattner-Institute, University of Potsdam, 
			Germany
			</strong>
		</div>
		<div class="span2 text-right">
			Jun. 2009 - Jul. 2009
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			<ul>
				<li>
					Development of a research prototype for Microsoft Surface
				</li>
			</ul>
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span6 offset2">
			<strong>
			Software Developer Intern, SAP Labs, Montreal, QC
			</strong>
		</div>
		<div class="span2 text-right">
			Nov. 2008 - Apr. 2009
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			<ul>
				<li>
					Development of a CMS for small businesses with new Web 2.0 
					technologies
				</li>
			</ul>
		</div>
	</div>
</p>
<div class="page-header">
	<h2>Publications</h2>
</div>
<p>
	<div class="row">
		<div class="span6 offset2">
			<strong>
			Lumino: Tangible Building Blocks Based on Glass Fiber Bundles
			</strong>
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			Baudisch, P., Becker, T., and Rudeck, F.
			</br>
			In SIGGRAPH 2010 (Emerging Technologies demo paper), Los Angeles, 
			CA, July 25-29, 2010
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span6 offset2">
			<strong>
			Lumino: tangible blocks for tabletop computers based on glass fiber 
			bundles
			</strong>
		</div>
		<div class="span7 offset2">
			Baudisch, P., Becker, T., and Rudeck, F.
			</br>
			In Proceedings of CHI 2010, Atlanta, GA, April 10-15, 2010, 10 
			pages
			</br>
			<strong>CHI 2010 BEST PAPER AWARD</strong>
		</div>
	</div>
</p>
  


<div class="page-header">
	<h2>Skills</h2>
</div>

<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>Technical Knowledge</strong>
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span1 offset2">
			<strong>Web</strong>
		</div>
		{% include rating-heading.html %}
		{% include rating-heading.html %}
	</div>
	<div class="row">
		<div class="span2 offset2">
			Google App Engine
		</div>
		<div class="span2">
			{% assign points=5 %}{% include rating.html %}
		</div>
		<div class="span1">
			HMTL5
		</div>
		<div class="span2">
			{% assign points=3 %}{% include rating.html %}
		</div>
	</div>
	<div class="row">
		<div class="span2 offset2">
			Python
		</div>
		<div class="span2">
			{% assign points=7 %}{% include rating.html %}
		</div>
		<div class="span1">
			Ruby
		</div>
		<div class="span2">
			{% assign points=1 %}{% include rating.html %}
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span3 offset2">
			<strong>Programming Languages</strong>
		</div>
	</div>
	<div class="row">
		<div class="span2 offset2">
			Google App Engine
		</div>
		<div class="span2">
			{% assign points=0 %}{% include rating.html %}
		</div>
		<div class="span1">
			HMTL5
		</div>
		<div class="span2">
			{% assign points=7 %}{% include rating.html %}
		</div>
	</div>
	<div class="row">
		<div class="span2 offset2">
			Python
		</div>
		<div class="span2">
			{% assign points=7 %}{% include rating.html %}
		</div>
		<div class="span1">
			Ruby
		</div>
		<div class="span2">
			{% assign points=7 %}{% include rating.html %}
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span7 offset2">
			Web, Internet, Web Skills, Internet Technologies
			</br>
			Programming Languages
			</br>
			General Skills
			</br>
			Applications
			</br>
			Operating Systems
			</br>
			Development
			</br>
			Numerical Analysis
			</br>
			Computer Science
			</br>
			Frameworks
			</br>
			Programming Concepts: OOA, OOD (UML, FMC)
			</br>
			Markup Languages
			</br>
			Team Work: Planning and organization, communication, project 
			leadership, problem solving
			</br>
			Very experienced in:
			C/C++ and Qt.
			</br>
			Experienced in:
			Ruby, Python, Javascript, AppleScript, C#, Java, JavaServer Faces, 
			(X)HTML, CSS, XML (DTD, Schema, XSL, XSLT, XPath), Ruby on Rails, 
			Google App Engine, OpenCV, Microsoft Surface SDK, WPF, MySQL, Git, 
			Subversion, Mac OS-X, Linux, Windows.
			</br>
			TODO: Version numbers, average - good - skilled
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>General</strong>
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			Interested in artificial intelligence, open source, ...
		</div>
	</div>
</p>

<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>Selected University Projects</strong>
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span6 offset2">
			Lumino
		</div>
		<div class="span2 text-right">
			Dec. 2009
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			Lumino building blocks allow tabletop computers based on diffuse 
			illumination to recognize objects arranged in a three-dimensional 
			structure.
		</div>
	</div>	
</p>
<p>
	<div class="row">
		<div class="span6 offset2">
			CGA tool chain on UNIX systems
		</div>
		<div class="span2 text-right">
			Aug. 2009
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			CGA is a software visualization tool to give insight into complex, 
			large-scale, existing software systems and their physical 
			composition and relations.
		</div>
	</div>	
</p>
<p>
	<div class="row">
		<div class="span6 offset2">
			Demand Planning on Microsoft Surface
		</div>
		<div class="span2 text-right">
			Jul. 2009
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			Geographic visualization of demand planning data stored in a SAP 
			main-memory database on Microsoft Surface.
		</div>
	</div>	
</p>
<p>
	<div class="row">
		<div class="span6 offset2">
			Bachelor's Project: Lecture Browser
		</div>
		<div class="span2 text-right">
			Jul. 2007
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			Enhancing the tele-TASK platform with the functionality to search 
			the content of multimedia data and to annotate the recorded 
			lectures.
		</div>
	</div>	
</p>
<p>
	<div class="row">
		<div class="span6 offset2">
			Random Racer
		</div>
		<div class="span2 text-right">
			Mar. 2007
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			3D racing game with procedurally generated NURBS-based endless 
			terrain, multi-threaded physics and Quake-style console for Mac OS 
			X.
		</div>
	</div>	
</p>
<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>Languages</strong>
		</div>
	</div>
	<div class="row">
		<div class="span7 offset2">
			German (native)
			</br>
			English (fluent)
		</div>
	</div>
</p>

<div class="page-header">
	<h2>Achievements</h2>
</div>

TODO: may be change this to: Selected Contributions

<p>
	<div class="row">
		<div class="span7 offset2">
			CHI 2010 BEST PAPER AWARD
			</br>
			SIGGRAPH eTech Demonstration
			</br>
			Presentation / Talk at CHI 2010 in front of ~500 people
			</br>
			Reviewer for TEI 2011 - note 4 pages
		</div>
	</div>
</p>

<div class="page-header">
	<h2>Graduate courses</h2>
</div>
<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>Software Engineering</strong>
			</br>
			Data-oriented XML
			</br>
			Middleware and distributed systems
			</br>
			Server operating systems
			</br>
			Software engineering for embedded systems
			</br>
			Software visualization
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>Human Computer Interaction</strong>
			</br>
			Geovisualization I/II
			</br>
			HCI research
			</br>
			Methods and concepts of visualization
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>Mobile & Embedded Systems</strong>
			</br>
			Operating systems for embedded computing
			</br>
			HCI research project
			</br>
			Model-driven software development
		</div>
	</div>
</p>
<p>
	<div class="row">
		<div class="span7 offset2">
			<strong>Soft Skills</strong>
			</br>
			IT-Entrepreneurship
			</br>
			IT case studies - What you can learn from failed IT projects
			</br>
			Software and internet law
			</br>
			Management
		</div>
	</div>
</p>

<div class="page-header">
	<h2>Interests</h2>
</div>

TODO: Soccer, running, hiking, reading, computer games 
