---
layout: default
title: Frederik Rudeck
page_category: home
---

<div class="hero-unit">
	<p id="welcome">
		Hi! I‘m a JavaScript developer at <a href="http://www.klab-berlin.com/">K.lab Berlin</a> in Germany, currently working on <a href="https://www.meinunterricht.de">meinUnterricht.de</a>. I recently graduated from the <a href="http://www.hpi.uni-potsdam.de/">Hasso-Plattner-Institute</a> with a M.Sc. in IT-Systems Engineering.
	</p>
	<p>
		I use this site as a repository for my university and spare time projects. Feel free to drop me a <a href="/cv/#contact">line</a> if you have any questions or comments on some of the projects.
	</p>
	<p>
		<a href="http://de.linkedin.com/pub/frederik-rudeck/28/ba8/429">
			<img src="/images/linkedin_24.png" alt="linkedin icon"/></a>
		<a href="https://www.xing.com/profile/Frederik_Rudeck">
			<img src="/images/xing_24.png" alt="xing icon"/></a>
		<a href="https://github.com/polym0rph">
			<img src="/images/github_24.png" alt="github icon"/></a>
		<a href="http://www.twitter.com/polym0rph">
			<img src="/images/twitter_24.png"
				alt="Follow polym0rph on Twitter"/></a>
	</p>
</div>

<div class="page-header">
	<h2>Recent Projects</h2>
</div>

{% for post in site.posts limit:4 %}
	{% include project.html %}
{% endfor %}
