---
layout: default
title: Frederik Rudeck - Projects
page_category: projects
---

<h3>Research Projects</h3>
<div>	
	{% for post in site.posts %}
		{% if post.categories contains 'research' %}
			<div class="project">
				<div class="image_left">					
					<a href="{{ post.url }}"><img src="/images/{{ post.image }}"/></a>
				</div>
				<div class="abstract">
					<h2>{{ post.name }}</h2>
					<p class="project_member">{{ post.member }}</p>
					{{ post.abstract }} <a href="{{ post.url }}">More...</a>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>

<h3>University Projects</h3>
<div>	
	{% for post in site.posts %}
		{% if post.categories contains 'university' %}
			<div class="project">
				<div class="image_left">					
					<a href="{{ post.url }}"><img src="/images/{{ post.image }}"/></a>
				</div>
				<div class="abstract">
					<h2>{{ post.name }}</h2>
					<p class="project_member">{{ post.member }}</p>
					{{ post.abstract }} <a href="{{ post.url }}">More...</a>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>
