---
layout: default
title: Frederik Rudeck - Projects
page_category: projects
---

<h3>Research Projects</h3>
<div>	
	{% for post in site.posts %}
		{% if post.categories contains 'research' %}
			<div class="project">
				<h2>{{ post.name }}</h2>
				<p class="project_member">{{ post.member }}</p>
				<div class="image_left">
					<a href="{{ post.url }}"><img src="/images/{{ post.image }}"/></a>
				</div>
				<div class="abstract">
					<span>{{ post.abstract }} <a href="{{ post.url }}">More...</a></span>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div>

<!-- <p class="header_underlined">Bachelors Projects</p>
<div>	
	{% for post in site.posts %}
		{% if post.categories contains 'bachelor' %}
			<div class="project">
				<h2>{{ post.name }}</h2>
				<p class="project_member">{{ post.member }}</p>
				<div class="image_left">
					<img src="/images/{{ post.image }}"/>
				</div>
				<div class="abstract">
					<p>{{ post.abstract }} <a href="{{ post.url }}">More...</a></p>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</div> -->